@import 'tailwindcss';

/* Memberitahu Tailwind di mana file blade kita berada */
@source '../../resources/**/*.blade.php';
@source '../../resources/**/*.js';
@source '../../resources/**/*.vue';

@theme {
    /* --- 1. Konfigurasi Font --- */
    /* Kita timpa 'font-sans' default dengan Lato */
    --font-sans: 'Lato', ui-sans-serif, system-ui, sans-serif;
    
    /* Kita buat font baru bernama 'font-heading' pakai Montserrat */
    --font-heading: 'Montserrat', sans-serif;

    /* --- 2. Konfigurasi Warna Zeniro --- */
    
    /* Warna Primary */
    --color-primary-primaryBlue: #051F3D;
    --color-primary-primaryPink: #E8A9B1;
    
    /* Warna Secondary */
    --color-secondary: #D7EBF7;
    
    /* Warna Aksen */
    --color-accent-blue: #5893D5;
    --color-accent-pink: #F0D7D9;
    --color-accent-bluesoft: #99BBE2;
    
    /* Warna Netral Custom */
    --color-white: #FAFAFA;
    --color-gray: #AEAEAE;
    --color-black: #121212;
}